.marker {
    position: absolute;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0;
    color: white;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: normal;
    font-family: Helvetica, Arial, sans-serif;
    background-color: blue;
}
.markerPrice {
    display: inline-block;
    float: right;
    padding: 2px 4px 2px 4px;
    background-color: blue;
}
.markerNumber {
    display: inline-block;
    float: left;
    margin-right: 3px;
    background-color: green;
    padding: 2px 4px 2px 4px;
}
.markerPoint {
    display: block;
    margin: 0 auto;
    width: inherit;
}
.markerPoint img {
    max-width: 100%;
    height: 15px;
    margin: 0 auto;
    border: 1px;
}